.body{ 
    display: flex;
    
}

.conteiner{
   
   
    width: 1600px;
    height: 1400px;
    background: #E2E7EC;
    opacity: 1;
    font-family: 'Bodoni Moda', serif; 
    padding-top: 91px;
    padding-left: 240px;
}

.col-sm-8{
   
    width: 740px;
    height: 540px;
}   

.col-sm-4{
   
   
    padding-right: 20px;
    width: 360px;
    height: 540px;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.55px;
    line-height: 1;
    color: #1D1D1D;

}
   
.data{
    font-size: 13px;
    color: #1D1D1D;
    padding-top: 10px;
}

.card-body{

} 

.card-text{
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.55px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 80px;
}

.smile{
    position:;
   padding-top: -200px;
    width: 54px;
    height: 54px;
}

.row-two{
    
    
    padding-top: 20px;
    padding-left: 240px;
    padding-bottom: 209px;

}   